/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}.body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  base font-size: 18px
  base line-height: 1.2 em
  1.618/Golden section "Phi" is our modular scale:
  https://www.modularscale.com/?18&px&1.618

  norm(1.618.Phi)//em(px/18)//lineheight(1.2x)
  .5x =  11.125px//.618em//.7416em
  1x  =  18px//1em//21.6(1.2em)
  1.5x=  23.562//1.309em//1.5708em
  2x  =  29.124px//1.618em//1.942em
  3x  =  47.123px//2.618em//3.142em
  4x  =  76.244px//4.236em//5.083em
}}

Palette URL: https://coolors.co/ffffff-b49ec9-d1c6db-2d2d39-989b9f
#ffffff -white
#b49ec9 -light lav
#d1c6db -lightest lav
#2d2d39 -gunmetal
#989b9f   -gray
Chose this for blue being a long lasting trusted color for reliability.  While we are a new company, we are growing and throwing green into the frey would help push that.  The red is meant to compliment, yet not hurt the eyes.

https://coolors.co/1c0221-7b5e7b-b49ec9-e9eb87-b9f18c
1c0221    - dark lavender
7b5e7b    - medium lav
b49ec9    -light lav
e9eb87    -yello
b9f18c    -light green


Font:
*/


/* Custom Site Styles */

/* ========== Base Styles ========== */
/* Base Styles (element selectors; color, typography, and that's it)*/
html {
  font-size: 1.125em;
  background-color: #1c0221;
  color: #2d2d39;
  font-family: 'Roboto';
}

body {
  background-color: #b49ec9;
  padding: 1em;
  max-width: 68.22em;
  margin: auto;
}

h1 {
  font-size: 3.273em;
  padding: 0 0 0.5em 0;
  text-align: center;
  font-family: 'Grand Hotel', cursive;
}

h2 {
  font-size: 1.5708em;
  padding: 0.75em;
  padding-top: 1em;
}

p {
  padding: 0.5em 0;
}

nav, footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #7b5e7b;
}

nav a, footer a {
  color: #d1c6db;
  padding: 0.5em 1em;
  margin: 0.5em;
  text-align: center;
  text-decoration: none;
}

nav a:hover, footer a:hover {
    background-color: blue;
}

form {
  display: block;
  padding: 0.5em;
}

li {
  list-style-type: none;
}

section h2 {
  text-decoration: underline;
}

/* ========== Layout ========== */
/* Layout (id selectors; width/height, position, flexbox, grid)*/


/*#checkout {
  display: block;
  box-sizing: border-box;
  border-radius: 1em;
  padding: 0.5em;
}*/
.food label {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  padding: 0 0 0.5em 0.5em;
}

#checkout label {
  padding-top: 1em;
  padding-bottom: 0.25em;
  box-sizing: border-box;
  display: block;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 13vw;
}

#nextorclear {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  margin: auto;
}

#nextorclear li {
  text-align: center;
  padding: 0.5em;
  margin: 0.25em;
}

#submitbut {
  background-color: #b9f18c;
}

#clearbut {
  background-color: #e9eb87;
}

#checked {
  float: left;
}

#checkbox {
  float: right;
}

/* ========== Module ========== */
/* Module/Modular Section (class or descedent selectors; repeating specific styles) */

.nv * , .nv {/*Toggle this class to toggle visibility*/
  display: none;
}

.about-us {
  text-align: center;
  margin: 0.5em;
  line-height: 1.5708em;
}

.food-number {
  max-width: 3em;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  float: right;

}

.food {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.food h2 {
  text-decoration: underline;
}

.input {
  max-width: 16.66em;
}

.boom {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  text-decoration: underline;
}

.but {
  margin: 0.5em;
}

/* ========== State ========== */
/* State (repeat the structure above; media queries, JavaScript-dependent styles) */
@media screen and (min-width: 300px) {
  #checkbox {
    float: left;
  }

}
/* */
@media screen and (min-width: 650px) {
  /*This is for adding columns and setting stopping paragraph from growing*/

  #menu-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 47em;
    margin: auto;
  }


  #nextorclear {
    font-size: 1.5708em;
  }

  .food-number {
    float: left;
  }

}

@media screen and (min-width: 1078px) {

  html {
    max-width: 72em;
    margin: auto;
  }

}
/*Baseline css*/
/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

body.g {
  position: relative;
}

body.g::after {
  /* Change the `height` parameter here to match your base line-height. */
  background: url('data:image/svg+xml;utf8,<svg height="1.2em" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1.619" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;

  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

body.g:active::after {
  display: none;
}
